
<!-- Side Panel -->
<div id="side-panel">

  <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

  <div class="side-panel-wrap">

    <div class="widget clearfix">

      <a [routerLink]="['/index']"><img src="assets/car/images/logo@2x.png" alt="Canvas Logo" height="50"></a>

      <p>It has always been, and will always be, about quality. We're passionate about ethically sourcing the finest coffee beans, roasting them with great care. We'd like to hear your message!</p>

      <!--<div class="widget quick-contact-widget noborder notoppadding clearfix">-->

        <!--<h4>Quick Contact</h4>-->
        <!--<div class="quick-contact-form-result"></div>-->
        <!--<form id="quick-contact-form" name="quick-contact-form" action="include/quickcontact.php" method="post" class="quick-contact-form nobottommargin">-->
          <!--<div class="form-process"></div>-->
          <!--<input type="text" class="required sm-form-control input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Full Name" />-->
          <!--<input type="text" class="required sm-form-control email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email Address" />-->
          <!--<textarea class="required sm-form-control input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>-->
          <!--<input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />-->
          <!--<button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="button button-small button-3d nomargin" value="submit">Send Email</button>-->
        <!--</form>-->

      <!--</div>-->


    </div>

  </div>

</div>

<!-- Document Wrapper
============================================= -->


  <!-- Header
  ============================================= -->
  <header id="header" class="static-sticky full-header clearfix">

    <div id="header-wrap">

      <div class="container-fluid clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <!-- Logo
            ============================================= -->
        <div id="logo">
          <a [routerLink]="['/index']" class="standard-logo"><img src="assets/car/images/logo.png" alt="Canvas Logo"></a>
          <a [routerLink]="['/index']" class="retina-logo"><img src="assets/car/images/logo@2x.png" alt="Canvas Logo"></a>
        </div><!-- #logo end -->

        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu" class="with-arrows clearfix">
          <ul>
            <li class="current"><a [routerLink]="['/index']"><div>Home</div></a></li>
            <!-- Mega Menu -->
            <li class="mega-menu"><a [routerLink]="['/services']"><div>Services</div></a></li>
            <li><a [routerLink]="['/product']"><div>Product</div></a></li>
            <li><a [routerLink]="['/gallery']"><div>Gallery</div></a></li>
            <li><a [routerLink]="['/contact']"><div>Contact</div></a></li>
          </ul>
        </nav><!-- #primary-menu end -->
      </div>

    </div>

    <div id="header-trigger"><i class="icon-line-menu"></i><i class="icon-line-cross"></i></div>

  </header><!-- #header end -->

