<app-header></app-header>
<div class="col_full clearfix">

  <h3>Gallery </h3>

  <div class="masonry-thumbs grid-5" data-big="1" data-lightbox="gallery">
    <a href="javascript:void(0)" data-lightbox="gallery-item"><img class="image_fade" src="assets/images/portfolio/4/1.jpg" alt="Gallery Thumb 1"></a>
    <a href="javascript:void(0)" data-lightbox="gallery-item"><img class="image_fade" src="assets/images/portfolio/4/2.jpg" alt="Gallery Thumb 2"></a>
    <a href="javascript:void(0)" data-lightbox="gallery-item"><img class="image_fade" src="assets/images/portfolio/4/3.jpg" alt="Gallery Thumb 3"></a>
    <a href="javascript:void(0)" data-lightbox="gallery-item"><img class="image_fade" src="assets/images/portfolio/4/4.jpg" alt="Gallery Thumb 4"></a>
    <a href="javascript:void(0)" data-lightbox="gallery-item"><img class="image_fade" src="assets/images/portfolio/4/5.jpg" alt="Gallery Thumb 5"></a>
    <a href="javascript:void(0)" data-lightbox="gallery-item"><img class="image_fade" src="assets/images/portfolio/4/6.jpg" alt="Gallery Thumb 6"></a>
    <a href="javascript:void(0)" data-lightbox="gallery-item"><img class="image_fade" src="assets/images/portfolio/4/7.jpg" alt="Gallery Thumb 7"></a>
    <a href="javascript:void(0)" data-lightbox="gallery-item"><img class="image_fade" src="assets/images/portfolio/4/9.jpg" alt="Gallery Thumb 9"></a>
    <a href="javascript:void(0)" data-lightbox="gallery-item"><img class="image_fade" src="assets/images/portfolio/4/10.jpg" alt="Gallery Thumb 10"></a>
    <a href="javascript:void(0)" data-lightbox="gallery-item"><img class="image_fade" src="assets/images/portfolio/4/11.jpg" alt="Gallery Thumb 14"></a>
    <a href="javascript:void(0)" data-lightbox="gallery-item"><img class="image_fade" src="assets/images/portfolio/4/12.jpg" alt="Gallery Thumb 12"></a>
    <a href="javascript:void(0)" data-lightbox="gallery-item"><img class="image_fade" src="assets/images/portfolio/4/12-1.jpg" alt="Gallery Thumb 13"></a>
  </div>
</div>
<app-footer></app-footer>