<app-header></app-header>


<section id="page-title" class="page-title-parallax page-title-dark" style="background-image: url('assets/car/images/accessories/page-title.jpg'); background-size: cover; padding: 140px 0;" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">

  <div class="container clearfix">
    <h1>Our Services </h1>
  </div>

</section><!-- #page-title end -->

<section id="content" class="clearfix">

  <div class="content-wrap nopadding">

    <div class="section nomargin">
      <div class="container">
        <div class="row py-5 clearfix">
          <div class="col-md-4 mb-md-3 mb-5">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-car-battery"></i></a>
              </div>
              <h3>Long Battery Life</h3>
              <p>Canvas provides support for Native HTML5 Videos that can be added to a Background.</p>
            </div>
          </div>
          <div class="col-md-4 mb-md-3 mb-5">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-car-cogs2"></i></a>
              </div>
              <h3>24x7 Service</h3>
              <p>Complete control on each &amp; every element that provides endless customization.</p>
            </div>
          </div>
          <div class="col-md-4 mb-md-3 mb-5">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-car-pump"></i></a>
              </div>
              <h3>Petrol, Diesel &amp; LPG</h3>
              <p>Change your Website's Primary Scheme instantly by simply adding the dark class.</p>
            </div>
          </div>
          <div class="col-md-4 mt-0 mt-md-5">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-car-meter"></i></a>
              </div>
              <h3>Powerful Dashboard</h3>
              <p>Canvas provides support for Native HTML5 Videos that can be added to a Background.</p>
            </div>
          </div>
          <div class="col-md-4 mt-5">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-car-paint"></i></a>
              </div>
              <h3>Differnt Color Options</h3>
              <p>Complete control on each &amp; every element that provides endless customization.</p>
            </div>
          </div>
          <div class="col-md-4 mt-5">
            <div class="feature-box fbox-plain">
              <div class="fbox-icon">
                <a href="#"><i class="icon-car-wheel"></i></a>
              </div>
              <h3>All wheel Drive</h3>
              <p>Change your Website's Primary Scheme instantly by simply adding the dark class.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix border-bottom align-content-stretch flex-wrap">

      <a href="javascript:void(0)" class="col-lg-3 image_fade col-sm-6 p-5 order-1" style="background: url('assets/car/images/dealers/car-wheel.jpg') no-repeat center center / cover;">
        <div class="p-5 p-sm-0"></div>
      </a>

      <div class="col-lg-3 col-sm-6 arrow-box bg-white py-5 px-4 d-flex align-self-center order-2">
        <div class="card noborder">
          <div class="card-body">
            <h3 class="mb-1">Car Alloy Wheels</h3>
            <h5 class="text-muted t400">With faded secondary text</h5>
            <p class="mb-0 text-black-50">Monotonectally actualize error-free total linkage with competitive niches. Competently initiate 24/7 internal.</p>
          </div>
        </div>
      </div>

      <a href="javascript:void(0)" class="col-lg-3 col-sm-6 image_fade p-5 order-3 order-sm-4 order-lg-3" style="background: url('assets/car/images/dealers/car-light.jpg') no-repeat center center / cover;">
        <div class="p-5 p-sm-0"></div>
      </a>

      <div class="col-lg-3 col-sm-6 arrow-box bg-white py-5 px-4 d-flex align-self-center order-4 order-sm-3 order-lg-4">
        <div class="card noborder">
          <div class="card-body">
            <h3 class="mb-1">Car Head Lights</h3>
            <h5 class="text-muted t400">With faded secondary text</h5>
            <p class="mb-0 text-black-50">Monotonectally actualize error-free total linkage with competitive niches. Competently initiate 24/7 internal.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 arrow-box right bg-white py-5 px-4 d-flex align-self-center order-6 order-md-6 order-lg-5">
        <div class="card noborder">
          <div class="card-body">
            <h3 class="mb-1">Premium Interiors</h3>
            <h5 class="text-muted t400">With faded secondary text</h5>
            <p class="mb-0 text-black-50">Monotonectally actualize error-free total linkage with competitive niches. Competently initiate 24/7 internal.</p>
          </div>
        </div>
      </div>

      <a href="javascript:void(0)" class="col-lg-3 image_fade col-sm-6 p-5 order-md-5 order-5 order-lg-6" style="background: url('assets/car/images/dealers/car-interior.jpg') no-repeat center center / cover;">
        <div class="p-5 p-sm-0"></div>
      </a>

      <div class="col-lg-3 col-sm-6 arrow-box right bg-white py-5 px-4 d-flex align-self-center order-8 order-sm-7">
        <div class="card noborder">
          <div class="card-body">
            <h3 class="mb-1">Comfortable Leather Seats</h3>
            <h5 class="text-muted t400">With faded secondary text</h5>
            <p class="mb-0 text-black-50">Monotonectally actualize error-free total linkage with competitive niches. Competently initiate 24/7 internal.</p>
          </div>
        </div>
      </div>

      <a href="javascript:void(0)" class="col-lg-3 image_fade col-sm-6 p-5 order-7 order-sm-8" style="background: url('assets/car/images/dealers/car-seat.jpg') no-repeat center center / cover;">
        <div class="p-5 p-sm-0"></div>
      </a>

    </div>



    <!-- Buy And Sell Section
    ============================================= -->
    <div class="section nomargin nopadding clearfix">
      <div class="row common-height clearfix">
        <!-- Half Section 1 -->
        <div class="col-lg-6 dark bgcolor" style="background: url('images/5.jpg') center center no-repeat; background-size: cover;">
          <div class="col-padding clearfix">
            <i class="i-plain i-xlarge icon-car-service inline-block" style="margin-bottom: 20px;"></i>
            <div class="heading-block noborder" style="margin-bottom: 20px;">
              <h3>Are You Looking for a New Car?</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur, doloribus. Aspernatur, maiores earum eaque quas temporibus eius dolore dicta.</p>
            <a href="#" class="button button-rounded button-white button-light nomargin">Know More</a>
          </div>
        </div>
        <!-- Half Section 2 -->
        <div class="col-lg-6 clearfix bgcolor" style="background: url('assets/car/images/6.jpg') center center no-repeat; background-size: cover;">
          <div class="col-padding clearfix">
            <i class="i-plain i-xlarge icon-car-care inline-block" style="margin-bottom: 20px;"></i>
            <div class="heading-block noborder" style="margin-bottom: 20px;">
              <h3>Want to sell a used car?</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur, doloribus. Aspernatur, maiores earum eaque quas temporibus eius dolore dicta.</p>
            <a href="#" class="button button-large button-dark button-black button-rounded nomargin">Know More</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</section><!-- #content end -->



<section id="content" class="clearfix">

  <div class="content-wrap">

    <div class="container">

      <div id="section-wheel" class="page-section">
        <div class="heading-block center section nobottomborder py-5 mt-0">
          <h3 class="highlight-me px-2 d-inline-block">Tyres & Wheels</h3>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, modi?</p>
        </div>
        <div id="oc-wheel" class="owl-carousel shop-carousel carousel-widget" data-margin="30" data-nav="true" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4" data-autoplay="5000">
          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="assets/car/images/accessories/wheels/1.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">HRX Alloy Wheel</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>

          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/wheels/2.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Suzuka Wheels</a></h3></div>
              <div class="product-price"><ins>$21.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat neque, sequi maiores.</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>

          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/wheels/3.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Ghost 15" alloy Wheels</a></h3></div>
              <div class="product-price"><del>$24.99</del> <ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum rem vel doloribus.</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>

          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/wheels/4.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Konig Wheels</a></h3></div>
              <div class="product-price"><del>$30.99</del> <ins>$15.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus qui porro accusantium.</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>

          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/wheels/5.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Konig Wheels</a></h3></div>
              <div class="product-price"><ins>$11.99</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus qui porro accusantium.</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>

          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/wheels/6.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Konig Wheels</a></h3></div>
              <div class="product-price"><ins>$17.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus qui porro accusantium.</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>
        </div>
      </div>

      <div id="section-music" class="page-section">
        <div class="heading-block section nobottomborder py-5 center">
          <h3 class="highlight-me px-2 d-inline-block">Music Systems</h3>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, modi?</p>
        </div>
        <div class="owl-carousel shop-carousel carousel-widget mb-5" data-margin="30" data-nav="true" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4" data-autoplay="5000">
          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/music/1.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Double Deck Music</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>

          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/music/2.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Woofer Music</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>

          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/music/3.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Double Deck Music</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>

          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/music/4.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Double Deck Music</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>
        </div>
      </div>

      <div id="section-engines" class="page-section">
        <div class="heading-block section nobottomborder py-5 center">
          <h3 class="highlight-me px-2 d-inline-block">Engines & Parts</h3>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, modi?</p>
        </div>
        <div class="owl-carousel shop-carousel carousel-widget mb-5" data-margin="30" data-nav="true" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4" data-autoplay="5000">
          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/engines/1.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Turbo Engine</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>

          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/engines/2.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Turbo Engine</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>

          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/engines/3.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Turbo spare Parts</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>

          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/engines/4.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Turbo Parts</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>

          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/engines/5.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Turbo Engine</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>

          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/engines/6.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Turbo Engine</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>
        </div>
      </div>

      <div id="section-seats" class="page-section">
        <div class="heading-block section nobottomborder py-5 center">
          <h3 class="highlight-me px-2 d-inline-block">Seat Covers</h3>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, modi?</p>
        </div>
        <div class="owl-carousel shop-carousel carousel-widget mb-5" data-margin="30" data-nav="true" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4" data-autoplay="5000">
          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/seats/1.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Turbo Engine</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>

          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/seats/2.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Turbo Engine</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>

          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/seats/3.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Turbo Engine</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>


          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="images/accessories/seats/4.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Turbo Engine</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>
        </div>
      </div>

      <div id="section-lights" class="page-section">
        <div class="heading-block section nobottomborder py-5 center">
          <h3 class="highlight-me px-2 d-inline-block">Lights</h3>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, modi?</p>
        </div>
        <div class="owl-carousel shop-carousel carousel-widget mb-5" data-margin="30" data-nav="true" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4" data-autoplay="5000">
          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="assets/car/images/accessories/lights/1.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Buddyclub GT86/BRZ Light</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>
          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="assets/car/images/accessories/lights/2.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Buddyclub LED</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>
          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="assets/car/images/accessories/lights/3.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Ford Focus Backlight</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>
          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="assets/car/images/accessories/lights/4.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Turbo LED</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>

          <div class="iproduct center">
            <div class="product-image px-4 py-1">
              <a href="#"><img src="assets/car/images/accessories/lights/5.jpg" alt=""></a>
            </div>

            <div class="product-desc">
              <div class="product-title"><h3><a href="#">Spyder Backlight</a></h3></div>
              <div class="product-price"><ins>$12.49</ins></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit adipisicing. Incidunt, sit!</p>
              <a href="#" class="button button-rounded button-small nomargin"><i class="icon-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="section nomargin footer-stick clearfix" style="background: #FFF url('assets/car/images/features/section-bg.jpg') left bottom no-repeat; background-size: cover; padding: 120px 0">
      <div class="container clearfix">
        <div class="row">
          <div class="col-md-6">
            <h2 class="h2 t700 mb-4">You still can't find your Car's Parts, then please Contact Us!</h2>
            <a href="contact.html" class="button button-color button-large button-rounded">Contact Now</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</section><!-- #content end -->


<app-footer></app-footer>