<app-header></app-header>
<section id="slider" class="slider-element swiper_wrapper full-screen force-full-screen clearfix" data-dots="true" data-loop="true" data-grab="false">

  <div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">
      <div class="swiper-slide dark" style="background-image: url('assets/car/images/hero-slider/4.jpg'); background-size: cover">
        <div class="container clearfix">
          <div class="slider-caption top-left center">
            <h2 class="font-primary nott">Renegade 730S</h2>
            <p class="t300 font-primary d-none d-sm-block">Raise your limits over</p>
            <a href="javascript:void(0)" class="button button-rounded button-border button-white button-light nott">View Details</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide dark" style="background-image: url('assets/car/images/hero-slider/2.jpg'); background-size: cover">
        <div class="container clearfix">
          <div class="slider-caption center">
            <h2 class="font-primary nott">Chevrolet Traverse</h2>
            <p class="t300 font-primary d-none d-sm-block">New and Powerful SUV</p>
            <a href="javascript:void(0)" class="button button-rounded button-border button-white button-light nott">View Details</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide dark" style="background-image: url('assets/car/images/hero-slider/3.jpg'); background-size: cover">
        <div class="container clearfix">
          <div class="slider-caption slider-caption-center">
            <h2 class="font-primary nott">Audi 2018 S5 Cabriolet</h2>
            <p class="t300 font-primary d-none d-sm-block">A Black Diamond</p>
            <a href="javascript:void(0)" class="button button-rounded button-border button-white button-light nott">View Details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

</section><!-- #Slider End -->

<section>
  <!--<div class="section notopmargin clearfix" style="padding: 100px 0">-->
    <!--<div class="running-car topmargin-sm">-->
      <!--<img src="assets/car/images/features/bg1.png" alt="Car">-->
      <!--&lt;!&ndash;<img class="car" src="assets/car/images/moving-car/car.jpg" alt="">&ndash;&gt;-->
      <!--&lt;!&ndash;<img class="wheel" src="assets/car/images/moving-car/car-tier.png" alt="">&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="container clearfix">-->
      <!--<div class="row clearfix" style="position: relative;">-->
        <!--<div class="col-lg-6 offset-lg-6">-->
          <!--<div class="heading-block hlarge">-->
            <!--<h3>About Us</h3>-->
          <!--</div>-->
          <!--<p>Assertively iterate enterprise-wide portals through synergistic products. Efficiently build adaptive schemas after transparent quality vectors. Phosfluorescently optimize competitive resources after extensive convergence. Rapidiously optimize high-quality meta-services via distributed architectures. Credibly deliver 24/365.</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div> &lt;!&ndash; Moving car on scroll End &ndash;&gt;-->

  <!-- Features Section
  ============================================= -->
  <div class="container clearfix">

    <div class="row clearfix topmargin bottommargin">

      <div class="col-lg-8 col-md-8 topmargin bottommargin-sm">

        <div class="heading-block nobottomborder">
          <h2 class="nott ls0" style="font-size: 44px; line-height: 1.2">Explore the New Mercedec Benz</h2>
        </div>
        <span style="color: #BBB;">Eum nihil pretium quas aliqua, laboris ipsam diam congue natoque mollitia occaecati! Cubilia pede, numquam fringilla proident dis? Molestias repellat.<br><br>Quas perferendis urna, officiis necessitatibus deserunt recusandae urna ullamco hac do beatae cubilia iste dolorum, facilisi? Sit, hic, varius! Sollicitudin.<br><br>Nostrum feugiat beatae proident porro eleifend adipiscing nostrud aliquid sit.</span>
        <div class="clear"></div>
        <a href="javascript:void(0)" class="button button-rounded button-black button-dark noleftmargin topmargin-sm clearfix">Know More</a>

      </div>

      <div class="col-lg-4 d-md-none d-lg-block ">
        <img src="assets/car/images/features/bg1.png" alt="Car">
      </div>
    </div>
  </div>



  <div class="heading-block center">
    <h2 class="t700"> Testimonials </h2>
    <div class="before-heading uppercase ls1" style="font-size: 13px; font-style: normal;">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>

  </div>


  <ul class="testimonials-grid clearfix">
    <li>
      <div class="testimonial">

        <div class="testi-content">
          <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
          <div class="testi-meta">
            John Doe
            <span>XYZ Inc.</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="testimonial">

        <div class="testi-content">
          <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
          <div class="testi-meta">
            Collis Ta'eed
            <span>Envato Inc.</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="testimonial">

        <div class="testi-content">
          <p>Fugit officia dolor sed harum excepturi ex iusto magnam asperiores molestiae qui natus obcaecati facere sint amet.</p>
          <div class="testi-meta">
            Mary Jane
            <span>Google Inc.</span>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="testimonial">

        <div class="testi-content">
          <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
          <div class="testi-meta">
            Steve Jobs
            <span>Apple Inc.</span>
          </div>
        </div>
      </div>
    </li>
  </ul>

</section>

<app-footer></app-footer>